*{
    margin: 0;
    padding: 0;
    border: 0;
}


nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 35%;
    background: #164C64;
}


#Banner{
    height: 50%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}



.navbar-group{
    height: 20%;
    display: flex;
    width: 100%;
    margin: 2% ;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
    font-family: 'Open Sans';
    color: #F8F8F8;
    transition: background .4s;
    text-decoration: none;
    
}

.div-middle{
    display: flex;
    width: 100%;
}

.div-middle-left {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 2% 2% 0 2%;
    align-items: center;
}

span{
    width: 100%;
}

.span-left{
    width: 100%;
}

.span-right{
    width: 100%;
}

.div-middle-right {
    width: 30%;
}

a{
    justify-content: center;
}

aside{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-left: 30%;
}

.aside-img{
    width: 90%;
    margin: 5%;
 
}

.aside-section{
    width: 70%;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.aside-text{
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.famosos{
    border-radius: 5px;
    padding-left: 20%;
}

.filmes{
    border-radius: 5px;
    padding-left: 10%;
}

.series{
    border-radius: 5px;
    padding-left: 10%;
}

#BBN{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 35px;  
    color: #FFFFFF;
    position: absolute;
    width: 379px;
    height: 105px;
    left: 143px;
    top: 668px;

}

#FilmeN{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 35px;
    color: #FFFFFF;
    position: absolute;
    width: 410px;
    height: 70px;
    left: 603px;
    top: 438px;
}

#seriesN{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 35px;
    color: #FFFFFF;
    position: absolute;
    width: 410px;
    height: 70px;
    left: 603px;
    top: 668px;

} 


/*PAGE FAMOSOS*/

.div-famosos{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    /* width: 100%; */
}

h1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    margin: 1%;
}

.img-famosos{
    width: 500px;
    padding-top: 5%;
    padding-left: 10%;
}

#p-famosos{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
}

.h2-famosos{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #164C64;
    text-align: center;
    padding-top: 6%;
}

.form-button{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 68px;
    left: 45%;
    top: 118%;
    margin: 1%;
}

.btn{
    display: flex;
    justify-content: center;
    width: 147px;
    height: 52px;
    background: #FF8A76;
    text-align: center;
    line-height: 52px;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #F8F8F8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
    font-size: larger;
  }

  .modal_title{
    text-align: center;
  }

  .modal_form{
    display: flex;
    flex-direction: column;
    margin: 1%;
  }

  label, input {
    padding: 1%;
  }

  input{
    outline: none;
    background-color: #164C64;
    color: white;
    font-size: 1em;
  }
  
  
  
  .close {
    position: absolute;
    right: 0;
    left: 15px;
    top: 7px;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modal_span_btn{
    display: flex;
    justify-content: center;
}

.form_btn_inside{
    display: flex;
    justify-content: center;
    width: 30%;
    margin-top: 30px;
    background: #FF8A76;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #F8F8F8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.video{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 100%;
    margin: 1%;
}
.h3-famosos{
    width: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin: 1%;
    /* line-height: 27px; */
    color: #164C64;
    /* position: absolute; */
    text-align: center;
    /* left: 42%; */
    /* top: 134%; */
}

.video-span{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1%;
}


.video-bbb{
/* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}





.footer{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 20%;
    /* top: 846px; */
    background: #164C64;
    /* justify-content: space-between; */
    align-items: center ;
}

.footer-span-right{
    display: flex;
    justify-content: flex-end;
}

.footer-span-left{
    /* padding-left: 20%; */
}

.footer-left{
}

.footer-middle{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 40%;
    align-items: center;
    justify-content: space-around;
}

.footer-left{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
}

.footer-right{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 20%;
    align-items: center;
    padding-right: 10%;
}

.footer_img_middle {
    width: 100%;
}

.footer_img_left{
    width: 100%;
    /* padding-left: 100%; */
}

.footer_img_right{
    width: 100%;
    /* padding-right: 1%; */
}

@media (max-width: 840px) {
    .div-famosos{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h1{
        margin: 2%;
    }
    
    .img-famosos{
        width: 500px;
        padding-top: 5%;
        padding-left: 0%;
        margin: 1%;
    }
  }

@media (max-width: 640px) {
    
    .img-famosos{
        width: 400px;
    }
  }

@media (max-width: 440px) {
    .img-famosos{
        width: 300px;
    }

    
.video-bbb{
    width: 90%;
}
  }